.users-panel{
    width: 60%;
    height: 30%;
    max-height: 25em;
    overflow: auto;
    overflow-y: scroll;
    background-color: var(--second-color-light);
    padding: 1em;
}
.admin-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
    height: 80%;
    padding-bottom: 1em;
    padding-top: 1em;
    input{
        border: groove 0.3em var(--second-color-dark);
        width: 60%;
    }
}