.credits {
    background-color: var(--main-color);
    text-align: center;
    padding: 1em;
    color: var(--main-white);

    span:hover {
        filter: brightness(1.2);
    }

    .span-1 {
        color: var(--main-red);
        text-shadow: 1.5px 1px 2px var(--main-gold);
    }

    .span-2 {
        color: var(--main-green);
        text-shadow: 1.5px 1px 2px black;
    }

    .span-3 {
        color: rgb(67, 194, 216);
        text-shadow: 1.5px 1px 2px black;
    }

    .span-4 {
        color: var(--main-black);
        text-shadow: 1.5px 1px 2px rgb(255, 255, 255);
    }

    a:hover {
        filter: brightness(1.2);
    }
}