.user-background {
    position: relative;
    width: 100%;
    height: 30em;
    background-color: var(--second-color);
    border-radius: 20px;
    border-color: var(--main-color);
    border-width: 0.25cqw;
    border-left-style: groove;
    border-bottom-style: groove;
    border-right-style: groove;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .userInfo {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 100%;
        width: 100%;
        top: -5em;

        .user-profile {
            background-color: var(--background-profile-color);
            position: relative;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 1em;
            border-radius: 15px;
            border-color: var(--main-black);
            border-width: 5px;
            border-style: solid;
            max-height: max-content;

            .admin {
                color: var(--main-gold);
                height: 5%;
            }

            .user {
                color: var(--main-white);
                height: 5%;
            }

            p {
                color: white;
                font-size: 1em;
            }

            .user-basic {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .user-avatar {
                width: 12em;
                height: 12em;
                border-radius: 50%;
                border-width: 10px;
                border-style: groove;
                image-rendering: pixelated;
                image-rendering: crisp-edges;
            }

            .user-buttons {
                display: flex;
                margin-bottom: 2em;
            }

            .delete-button {
                width: 3em;
                height: 3em;
                position: absolute;
                padding: 5px;
                padding-bottom: 0;
                margin: 0;
                top: 0.5em;
                right: 0;
                border-radius: 15px;

                .delete-icon {
                    background: none;
                    border-width: 0px;
                    width: 2.5cqw;
                    height: 2.5cqw;
                }
            }
        }

        .user-history {
            position: relative;
            background-color: var(--second-color);
            width: 80%;
            padding: 0px 1em;
            margin-right: 0%;
            border-radius: 15px;
            border-color: var(--main-black);
            border-width: 5px;
            border-style: solid;
            color: var(--main-gold);
            text-align: center;

            .match-history {
                position: relative;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                border-color: var(--main-black);
                background-color: var(--background-profile-color);
                border-width: 5px;
                border-style: solid;
                height: 20em;
                padding-left: 1em;
                padding-top: 3em;
                overflow-y: scroll;
            }


        }

        .achievements {
            border-radius: 15px;
            border-color: var(--main-black);
            border-width: 5px;
            border-style: solid;
            font-size: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--second-color);
            width: 30%;
            h1 {
                text-align: center;
                color: var(--main-gold);
            }

            .user-achievements {
                overflow: auto;
                overflow-x:hidden;
                position: relative;
                background-color: var(--background-profile-color);
                padding: 0px 1em;
                margin-right: 0%;
                border-radius: 15px;
                border-color: var(--main-black);
                border-width: 5px;
                border-style: solid;
                color: var(--main-gold);
                display: flex;
                flex-direction: column;
                height: 80%;
            }
        }



    }
}

@media (max-width: 1080px) {

    .user-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .userInfo {
            flex-direction: column;
            width: 80%;

            .user-profile {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-left: -5cqw;

                .user-basic {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 1em;
                    }
                }

                .user-avatar {
                    width: 30cqw;
                    height: 30cqw;
                }


                p {
                    font-size: 5cqw;
                }

                .delete-button {
                    width: 5em;
                    height: 5em;
                    position: absolute;
                    padding: 5px;
                    padding-bottom: 0;
                    margin: 0;
                    bottom: 0;
                    right: 0;

                    .delete-icon {
                        background: none;
                        border-width: 0px;

                        width: 3em;
                        height: 3em;
                    }
                }
            }

            .user-history {
                width: 100%;
                margin-left: -5cqw;
                font-size: 1em;

                .match-history {
                    padding: 0;
                    padding-top: 10cqw;

                }


            }

            .achievements {
                width: 100%;
                margin-left: -2cqw;

                h1 {
                    margin: 0;
                }

                .user-achievements {
                    width: 80%;
                    min-height: 5em;
                }
            }

        }
    }
}